{% load static %}
<!-- Sidebar -->
<div id="sidebar" class="fixed inset-y-0 left-0 w-64 bg-gray-800 text-white transform -translate-x-full md:translate-x-0 transition-transform duration-200 ease-in-out">
    <div class="p-6">
      <h1 class="text-2xl font-bold mb-6">Absensi Metschoo</h1>
      <nav class="flex flex-col gap-4">
        <a href="#" class="hover:bg-gray-700 p-2 rounded">Dashboard</a>
        <a href="#" class="hover:bg-gray-700 p-2 rounded">Managemen Admin</a>
        <a href="#" class="hover:bg-gray-700 p-2 rounded">Tambah Kartu</a>
        <a href="#" class="hover:bg-gray-700 p-2 rounded">Absensi Siswa</a>
      </nav>
    </div>
</div>